body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Header Section flexbox */
.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20%;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    gap: 8px;
}

.header-right ul {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 24px;
    display: flex;
}
/* Header Section flexbox */

/* Header Section design */
.header-left img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

a {
    text-decoration: none;
    color: white;
}
/* Header Section design */

/* Hero Section Flexbox */
.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20%;
    flex: 1; /* Make sure to share spaces among all 3 containers */
}
/* Hero Section Flexbox */

/* Hero Section Design */



/* Hero Section Design */


.footer-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}